@model MvcTest.Models.SampleVM
@{ ViewBag.Title = "Details"; }

<h2>@ViewBag.Title</h2>
<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DynamicDisplayNameFor(model => model.Brand)
		</dt>

		<dd>
			@Html.DynamicDisplayFor(model => model.Brand, Rendering.Edit)
		</dd>

		<dt>
			@Html.DynamicDisplayNameFor(model => model.EquipmentId)
		</dt>

		<dd>
			@Html.DynamicDisplayFor(model => model.EquipmentId, Rendering.Edit)
		</dd>

		<dt>
			@Html.DynamicDisplayNameFor(model => model.InstalledBy)
		</dt>

		<dd>
			@Html.DynamicDisplayListFor(model => model.InstalledBy, new SelectList(ViewBag.InstalledByList, "Value", "Text"), "Selecione a instalação", DisplayListType.SelectedEdit, new { @class = "form-control", @style = "min-width: 80px;" })
		</dd>

		<dt>
			@Html.DynamicDisplayNameFor(model => model.Quantity)
		</dt>

		<dd>
			@Html.DynamicDisplayFor(model => model.Quantity, Rendering.Edit)
		</dd>

		<dt>
			@Html.DynamicDisplayNameFor(model => model.MensalValueStr)
		</dt>

		<dd>
			@Html.DynamicDisplayFor(model => model.MensalValueStr, Rendering.Edit)
		</dd>

		<dt>
			@Html.DynamicDisplayNameFor(model => model.MSISDN)
		</dt>

		<dd>
			@Html.DynamicDisplayFor(model => model.MSISDN, Rendering.Edit)
		</dd>

		<dt>
			@Html.DynamicDisplayNameFor(model => model.PhoneNumber)
		</dt>

		<dd>
			@Html.DynamicDisplayFor(model => model.PhoneNumber, Rendering.Edit)
		</dd>

		<dt>
			@Html.DynamicDisplayNameFor(model => model.Progress)
		</dt>

		<dd>
			@Html.DynamicDisplayFor(model => model.Progress, Rendering.Progress, new { @class = "col-md-2" })
		</dd>

		<dt>
			@Html.DynamicDisplayNameFor(model => model.Observations)
		</dt>

		<dd>
			@Html.DynamicDisplayFor(model => model.Observations, Rendering.Edit)
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = 1 }) |
	@*@Html.ActionLink("Back to List", "Index")*@
	@Html.DynamicLink(LinkAction.GoBack, null, "Voltar")
</p>