@model IEnumerable<MvcTest.Models.SampleVM>
@{ ViewBag.Title = "Index"; }

<h2>@ViewBag.AppName - @ViewBag.Title</h2>
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	@foreach (var item in Model)
	{
		<tr>
			<th>
				@Html.DynamicDisplayNameFor(modelItem => item.Brand, Rendering.OnlyText)
			</th>
			<th>
				@Html.DynamicDisplayNameFor(modelItem => item.EquipmentId, Rendering.OnlyText)
			</th>
			<th>
				@Html.DynamicDisplayNameFor(modelItem => item.InstalledBy, Rendering.OnlyText)
			</th>
			<th>
				@Html.DynamicDisplayNameFor(modelItem => item.Quantity, Rendering.OnlyText)
			</th>
			<th>
				@Html.DynamicDisplayNameFor(modelItem => item.MensalValueStr, Rendering.OnlyText)
			</th>
			<th>
				@Html.DynamicDisplayNameFor(modelItem => item.Progress, Rendering.OnlyText)
			</th>
			<th>
				@Html.DynamicDisplayNameFor(modelItem => item.MSISDN, Rendering.OnlyText)
			</th>
			<th>
				@Html.DynamicDisplayNameFor(modelItem => item.PhoneNumber, Rendering.OnlyText)
			</th>
			<th>
				@Html.DynamicDisplayNameFor(modelItem => item.Observations, Rendering.OnlyText)
			</th>
			<th></th>
		</tr>
		break;
	}

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DynamicDisplayFor(modelItem => item.Brand, Rendering.Label)
			</td>
			<td>
				@Html.DynamicDisplayFor(modelItem => item.EquipmentId, Rendering.Label)
			</td>
			<td>
				@Html.DynamicDisplayListFor(modelItem => item.InstalledBy, new SelectList(ViewBag.InstalledByList, "Value", "Text"), "Selecione a instalação", DisplayListType.SelectedLabel, new { @*@class = "form-control",*@ @style = "min-width: 80px;" })
			</td>
			<td>
				@Html.DynamicDisplayFor(modelItem => item.Quantity, Rendering.Label)
			</td>
			<td>
				@Html.DynamicDisplayFor(modelItem => item.MensalValueStr, Rendering.Label)
			</td>
			<td>
				@Html.DynamicDisplayFor(modelItem => item.Progress, Rendering.Label)
			</td>
			<td>
				@Html.DynamicDisplayFor(modelItem => item.MSISDN, Rendering.Label)
			</td>
			<td>
				@Html.DynamicDisplayFor(modelItem => item.PhoneNumber, Rendering.Label)
			</td>
			<td>
				@Html.DynamicDisplayFor(modelItem => item.Observations, Rendering.Label)
			</td>
			<td>
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
	}
</table>