@{ ViewBag.Title = "Home Page"; }

<h2>@ViewBag.AppName - @ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>

<div class="jumbotron">
	<h1>Samples Page of HTML Helpers Dynamic Components</h1>
	<p class="lead">This web application demonstrates the components of the Dynamic library and some of its usability.</p>
</div>

<div class="row">
	<div class="col-md-3">
		<h2>Samples List</h2>
		<p>The possibilities of using a List page are shown here.</p>
		@Html.ActionLink("Go to List", "Index", "Sample", null, htmlAttributes: new { @class = "btn btn-default" })
	</div>
	<div class="col-md-3">
		<h2>Samples of Detail</h2>
		<p>The possibilities for using a Details page are shown here.</p>
		@Html.ActionLink("Go to Detail", "Details", "Sample", new { @id = 2 }, htmlAttributes: new { @class = "btn btn-default" })
	</div>
	<div class="col-md-3">
		<h2>Samples of Create</h2>
		<p>The possibilities of use for an Creation form are shown here.</p>
		@Html.ActionLink("Go to Create", "Create", "Sample", null, htmlAttributes: new { @class = "btn btn-default" })
	</div>
	<div class="col-md-3">
		<h2>Samples of Edit</h2>
		<p>The possibilities of using an Edition form are shown here.</p>
		@Html.ActionLink("Go to Edit", "Edit", "Sample", new { @id = 3 }, htmlAttributes: new { @class = "btn btn-default" })
	</div>
</div>